@font-face {
	src: url('../fonts/sourseSanPro/SourceSansPro-Regular/SourceSansPro-Regular.otf');
	font-family: 'Source San Pro';
}

@font-face {
	src: url('../fonts/opensans/OpenSans-Bold/OpenSans-Bold.ttf');
	font-family: 'OpenSans-Bold';
}

@font-face {
	src: url('../fonts/opensans/OpenSans-Light/OpenSans-Light.ttf');
	font-family: 'OpenSans-Light';
}

@font-face {
	src: url('../fonts/opensans/OpenSans-Regular/OpenSans-Regular.ttf');
	font-family: 'OpenSans-Regular';
}

@font-face {
	src: url('../fonts/opensans/OpenSans-Semibold/OpenSans-Semibold.ttf');
	font-family: 'OpenSans-Semibold';
}


@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/sourseSanPro/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'),
	url('../fonts/sourseSanPro/SourceSansPro-Regular/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Bold/OpenSans-Bold.eot');
	src: url('../fonts/opensans/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Light/OpenSans-Light.eot');
	src: url('../fonts/opensans/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Light/OpenSans-Light.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Light/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Regular/OpenSans.eot');
	src: url('../fonts/opensans/OpenSans-Regular/OpenSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Regular/OpenSans.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Regular/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Semibold/OpenSans-Semibold.eot');
	src: url('../fonts/opensans/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

.page-header{
	position: absolute;
	width: 100%;
	border-top: 3px solid #ff7200;
}

.header-nav ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-family: 'OpenSans-Bold', sans-serif;
	font-size: 14px;
}

.header-nav li {
	padding: 15px;
	margin-top: 32px;
	color: #fff;
	cursor: pointer;
}

.main {
	display: flex;
}

.header-nav a {
	color: #fff;
}

a {
	text-decoration: none;
}

.nav-item {
	position: relative;
	transition: all .3s ease .15s;
}

.nav-item:hover.nav-item ul {
	opacity: 1;
	visibility: visible;
}

.nav-item:hover {
	background-color: #343434;
	color: #ff7200;
	border-radius: 5px;
}

.nav-item ul {
	position: absolute;
	top: 50px;
	left: -50px;
	width: 200px;
	list-style-type: none;
	background-color: #343434;
	border-radius: 5px;
	opacity: 0; 
	visibility: hidden;
	transition: all .4s ease .35s;
} 

.nav-item ul li {
	margin-top: 10px;
}

.nav-item__submenu {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	z-index: 6;
}

.nav-item__submenu li {
	position: relative;
}

.nav-item__submenu li:hover {
	color: #ff7200;
}

.nav-item__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 13px 33px;
	margin-top: 0px;
	font-family: "Source San Pro", sans-serif;
	border: 1px solid #fff;
}

.nav-item__logo-upper {
	font-size: 50px;
}

.nav-item__logo-lower {
	font-size: 12px;
}


.page-header__header-nav__menu-item {
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: all ease-out 0.2s;
}

#to-form {
	position: fixed;
	top: 100px;
	right: 30px;
	width: 100px;
	height: 100px;
	border: 2px solid #343434;
	box-shadow: 2px 2px 5px #343434;
	border-radius: 50%;
	background: radial-gradient(circle at 65% 15%, white 1px, #f17107 3%, #b95503 60%, #f17107 100%);  
	font-size: 1.2em;
	text-shadow: 1px 1px 3px #343434;
	z-index: 100;
}

.fa-bars {
	position: absolute;
	display: none;
	top: 20px;
	left: 5%;
	color: #fff;
	font-size: 2em;
	cursor: pointer;
}

#to-form:hover {
	background: radial-gradient(circle at 65% 15%, white 1px, #c25a05 3%, #883e02 60%, #b45304 100%);  
}

.fa-arrow-circle-down {
	font-size: 1.5em;
}

.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(../img/background.jpg);
	height:100vh;
	padding: 0 15px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 72px;
	color: #fff;
}

.heading-items {
	display: flex;
	justify-content: center;
	margin-top: 33px;
	font-family: "OpenSans-Semibold", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
}

.heading-items__item-this {
	color: #ff7300;
	transition: all 0.25s ease-out;
}

.banner__arrows__banner__left, .banner__arrows__banner__right {
	position: absolute;
	color: #fff;
	font-size: 100px;
	z-index: 5;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.banner__arrows__banner__left {
	left: 0;
}

.banner__arrows__banner__right {
	right: 0;
}

.banner__arrows__banner__left:active, .banner__arrows__banner__right:active {
	color: #c25a05;
}

.banner__slider {
	position: relative;
	width: 100%;
	height: 40%;
	margin-top: 5%;
	font-size: 1.2em;
	color: #fff;
}

.banner__slider-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.banner__slider-show {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin-top: 60px;
	font-family: "OpenSans-Regular", sans-serif;
	opacity: 1;
	transition: all 0.25s ease-out;
	z-index: 5;
}

.banner__btn {
	width: 190px;
	height: 58px;
	border-radius: 5px;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.25s ease-in;
}

.banner__btn:hover {
	background-color: #fff;
	color: #5e5c5c;
}

.nav-item__logo-upper span {
	color: #ff7200;
}

.about-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 120px;
	color: #666666;
}

h2 {
	font-family: "OpenSans-Bold", sans-serif;
	font-size: 36px;
	text-transform: uppercase;
}

hr {
	width: 12%;
	margin: 25px 0;
}

.about-us h3 {
	font-size: 20px;
}

.about-us p {
	font-family: "OpenSans-Light", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.container__description-italic {
	font-style: italic;
}

.about-us button, .buy-field__buttons button {
	margin-top: 20px;
	padding: 17px 35px;
	background-color: #fff;
	border: 1px solid #ff7200;
	border-radius: 3px;
	color: #ff7200;
	text-transform: uppercase;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 15px;
	transition: all ease-out 0.4s;
}

.about-us button:first-child, .buy-field__buttons button:first-child {
	margin-left: 30px;
	margin-right: 15px;
}

.about-us button:last-child, .buy-field__buttons button:last-child {
	margin-right: 30px;
}

.about-us button:hover, .buy-field__buttons button:hover {
	background-color: #ff7200;
	color: #ffffff;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
}

.slider {
	position: relative;
	width: 570px;
	height: 350px;
	margin-right: 30px;
}

.slider img {
	position: absolute;
	width: 570px;
	height: 350px;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
	box-shadow: 0px 3px 5px #848484;
}

.slider img.slider__show {
	opacity: 1;
}

.slider__switch {
	position: absolute;
	display: flex;
	width: 570px;
	top: calc(50% - 23px);
	font-size: 50px;
}

.slider__switch-left, .slider__switch-right {
	position: relative;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 40px;
	background-color: rgba(200,200,200,.7);
	border: 1px solid #fff;
	color: #fff;
	transition: all ease-out 0.4s;
	cursor: pointer;
}

.slider__switch-left:hover, .slider__switch-right:hover {
	background-color: #fff;
	color: #ff7200;
	border-color: #ff7200;
}

.slider__switch-left {
	left: 4%;
}

.slider__switch-right {
	left: 80%;
	
}

.container__description {
	width: 50%;
}

.container__description p {
	margin-top: 30px;
}

.banner-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../img/background-2.jpg);
	height:100vh;
	padding: 0 135px;
	padding-top: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.banner-2 h2, .banner-2 hr, .banner-2__heading {
	text-align: center;
	line-height: 22px;
	color: #fff;
	font-weight: bold;
}

.banner-2__heading {
	margin-top: 25px;
	font-family: "OpenSans-Light", sans-serif;
	font-size: 14px;
}

.features {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 40px;
}
.features__feature {
	display: flex;
	width: 30%;
	margin-bottom: 70px;
}

.features__feature__text h3 {
	font-family: "OpenSans-Semibold", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.features__feature__text p {
	margin-top: 22px;
	font-family: "OpenSans-Light", sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
}

.features__feature i {
	margin-right: 27px;
	font-size: 30px;
	color: #ff7200;
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 120px;
	color: #666666;
}

.team__heading, .portfolio__heading {
	width: 50%;
	text-align: center;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 20px;
	line-height: 24px;
}

.workers {
	display: flex;
	margin-top: 80px;
}

.worker {
	width: 25%;
	text-align: center;
}

.worker h4,.worker p {
	width: 95%;
}

.worker h4 {
	margin-top: 35px;
}

.worker p {
	margin-top: 17px;
}

.worker__position {
	color: #ff7200;
}

.worker__contacts {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

a .fa-facebook-f, a .fa-twitter,  a .fa-tumblr, a .fa-linkedin-in, a .fa-envelope, a .fa-instagram, a .fa-basketball-ball {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-right: 9px;
	border-radius: 50%;
	background-color: #f0f0f0;
	text-align: center;
	color: #666666;
	transition: all ease-out 0.4s;
}

a .fa-facebook-f:hover, a .fa-twitter:hover,  a .fa-tumblr:hover, a .fa-linkedin-in:hover, a .fa-envelope:hover, a .fa-instagram:hover, a .fa-basketball-ball:hover {
	background-color: #ff7e26;
	color: #fff;
} 

.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 15px;
	text-align: center;
	color: #666666;
	overflow: hidden;
}

.portfolio__gallery {
	margin-top: 100px;
}

.gallery__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio__gallery img {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in;
}

.
:hover.picture img {
	overflow: hidden;
	transform: scale(1.1);
}

.picture {
	position: relative;
	width: 387px;
	height: 257px;
	overflow: hidden;
}

.picture-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 387px;
	height: 257px;
	text-align: center;
	line-height: 257px;
	background-color: transparent;
	color: transparent;
	transition: ease-out 0.5s;
}

.picture-mask .fas {
	border-radius: 50%;
	border: transparent;
	transition: all ease-out 0.5s;
}

.picture-mask:hover {
	background-color: rgba(20, 20, 20,.3);
	color: #fff;
}

.picture-mask:hover .fas {
	border: 1px solid #ffffff;
	padding: 15px;
}

.picture-mask:hover .fas:hover {
	background-color: rgba(255, 255, 255,.7);
	color: #ff7e26;
}

.picture-mask__description {
	position: absolute;
	width: 100%;
	max-height: 0;
	bottom: 0px;
	color: #615c5c;
	background-color: rgba(255, 255, 255,.7);
	background: transparent;
	transition: all 0.4s ease-in-out;
	line-height: 50px;
	text-transform: uppercase;
}

.buy-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 15px;
	color: #666666;
}

.buy-field p {
	width: 60%;
	margin-top: 55px;
	text-align: center;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 20px;
}

.buy-field-orange {
	color: #ff7e26;
}

.buy-field__buttons {
	margin-top: 40px;
}

.responses {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../img/background-3.jpg);
	height:100vh;
	padding: 0 135px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f0f0f0;
	overflow: hidden;
}

.comments-list {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 50%;
}

.comments-list__comment {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	opacity: 0;
	transition: all 0.5s ease-in; 
}

.comments-list__comment-show {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	opacity: 1;
	transition: all 0.5s ease-in; 
}

.comments-list__comment h3 , .comments-list__comment-show h3 {
	margin-top: 80px;
	font-family:"OpenSans-Semibold", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

.responses__heading {
	width: 75%;
	margin-top: 35px;
	text-align: center;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.responses__client {
	margin-top: 40px;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.responses__client span {
	color: #ff7200;
}

.slider-switch {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 50px;
}

.slider-switch__btn-lelt, .slider-switch__btn-right {
	position: relative;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: rgba(200,200,200,.5);
	border: 1px solid #fff;
	color: #fff;
	transition: all 0.25s ease-in; 
}

.slider-switch__btn-right {
	left: 30px;
}

.slider-switch__btn-lelt:hover, .slider-switch__btn-right:hover {
	background-color: rgba(200,200,200,.8);
	border: 1px solid #fff;
	color: rgb(216, 105, 1);
}

.advantages {
	display: flex;
	flex-direction: column;
	margin: 100px;
	align-items: center;
	color: #666666; 
}

.advantages__heading {
	font-family: OpenSans-Light, sans-serif;
	font-size: 14px;
}

.inner-advantages {
	display: flex;
	margin-top: 80px;
}

.inner-advantages__right {
	margin-left: 30px;
}

.advantage {
	display: flex;
}

.advantage__icon .fas {
	width: 70px;
	height: 70px;
	background-color: #ff7200;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	color: #fff;
	margin-right: 30px;
	font-size: 1.2em;
}

.advantage {
	margin-bottom: 60px;
}

.advantage__text {
	font-family: "OpenSans-Light", sans-serif;
}

.advantage__text h4{
	margin-bottom: 10px;
	font-size: 18px;
}
.advantage__text p {
	font-size: 14px;
	line-height: 20px;
}

.information {
	display: flex;
	padding: 0 130px;
	padding-top: 60px;
	padding-bottom: 20px;
	background-color: #303030;
	color: #fff;
	font-family: "OpenSans-Light", sans-serif;
	font-size: 14px;
}

.information h4 {
	margin-bottom: 35px;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 16px;
}

.information .contact-info__data {
	opacity: 0.6;
}

.contact-info {
	display: flex;
	flex-direction: column;
}

.contact-info span {
	text-transform: uppercase;
}

.contact-info__adress, .contact-info__phone, .contact-info__mail {
	margin-top: 30px;
}

.information p {
	line-height: 20px;
}

.contact-info__contacts {
	display: flex;
	margin-top: 20px;
}

.contact-info__contacts .fab, .contact-info__contacts .fas {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.posts {
	margin-left: 40px;
}

.article {
	display: flex;
	margin-bottom: 25px;
}

.posts img {
	width: 54px;
	height: 54px;
	margin-right: 15px;
}

.article__text p {
	margin-top: 18px;
}

.article__date {
	color: #ff7200;
}

.services {
	width: 30%;
	margin-left: 60px;
}

.service__content {
	display: block;
	max-height: 0;
	color: transparent;
	overflow: hidden;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	transition: all 0.2s ease-out;
}

.service {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 18px;
}

.article__text a, .posts__article a {
	font-size: 18px;
	color: #fff;
	transition: all 0.2s ease-in;
}

.article__text a:hover, .posts__article a:hover {
	opacity: 0.5;
}

.services h5 {
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 14px;
}

.service  i {
	width: 15px;
	height: 15px;
	background-color: #ff7200;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 15px;
	font-size: 0.6em;
}

.form {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.form form {
	display: flex;
	flex-direction: column;
}

.form__name, .form__mail {
	position: relative;
	width: 270px;
	height: 35px;
	margin-bottom: 15px;
	background-color: #fff;
	color: #acabab;
}

.form input {
	position: absolute;
	top: 6px;
	left: 8px;
	width: 87.2%;
	border: none;
}

.form__name i, .form__mail i, .form__message i{
	position: absolute;
	right: 8px;
	top: 10px;
}

.form__message {
	position: relative;
	width: 270px;
	height: 120px;
	margin-bottom: 15px;
	background-color: #fff;
	color: #acabab;
}

.form textarea {
	position: absolute;
	width: 88%;
	height: 110px;
	top: 5px;
	left: 5px;
	resize: none;
	border: none;
}

.form button {
	width: 110px;
	height: 30px;
	margin-left: 160px;
	background-color: #ff7200;
	color: #fff;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
}

.basement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	padding: 0 140px;
	background-color: #000;
	font-family: "OpenSans-Light", sans-serif;
	font-size: 14px;
	overflow-y: hidden;
}

.basement-left {
	display: flex;
	align-items: center;
	color: #fff;
}

.basement-left__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: "Source San Pro", sans-serif;
}

.basement-left__logo-upper {
	font-size: 50px;
}

.basement-left__logo-lower{
	font-size: 12px;
}

.basement-left__logo-upper span {
	color: #ff7200;
}

.basement-left__establish {
	margin-left: 30px;
}

.basement__reference {
	display: flex;
}

.basement__reference li {
	margin-left: 25px;
}

.basement__reference a {
	color: rgba(255,255,255,.6);
}


@media (max-width: 1580px) {
	.team p {
		width: 100%;
		text-align: center;
	}
	
	.picture {
		width: 357px;
		height: 237px;
	}
	
	.picture-mask {	
		width: 357px;
		height: 237px;
		line-height: 237px;
		
	}
	
	.picture {
		margin: 5px;
	}
}

@media (max-width: 1440px) {
	.about-us {
		margin: 80px;
		margin-top: 25vh;
	}
	
	.services {
		width: 35%;
	}
}

@media (max-width: 1385px) {
	.container__description {
		width: 40%;
	}
	
	.workers {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.worker {
		margin-top: 10px;
		width: 400px;
	}
	
	.information {
		padding: 20px 100px;
	}
	.article__text a {
		font-size: 1em;
	}
	
	.article__date {
		font-size: 0.8em;
	}
	
	.services h5 {
		font-size: 0.9em;
	}
	
	.form {
		margin-left: 20px;
	}
	
	.form__name, .form__mail,.form__message  {
		width: 220px;
	}
	
	.form button {
		width: 100px;
		margin-left: 120px;
	}
}

@media (max-width: 1250px) {
	.portfolio__heading {
		width: 100%;
		text-align: center;
		line-height: 24px;
	}
	
	.portfolio__gallery {
		margin-top: 30px;
	}
	
	.information {
		padding: 20px 75px;
	}
}

@media (max-width: 1180px) {
	.header-nav li {
		padding: 5px;
		font-size: 1em;
	}
	
	.nav-item ul {
		width: 130px;
		top: 10px;
		left: -10px;
	} 
	
	.about-us__heaidng {
		text-align: center;
	}
	
	.container {
		justify-content: center;
		margin-top: 30px;
	}
	
	.slider {
		margin-right: 0px;
	}
	
	.container__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 30px;
	}
	
	.container__description h3, .container__description button {
		text-align: center;
	}
	.inner-advantages {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.advantages__heading {
		text-align: center;
	}
	
	.inner-advantages__right {
		margin-top: 30px;
		margin-left: 0;
	}
	
	.contact-info p {
		font-size: 0.9em;
	}
	.article__text-collapsed {
		font-size: 0.8em;
	}
	
	.services h5 {
		font-size: 0.8em;
	}
	
	.services p {
		font-size: 0.8em;
	}
	
	.article p {
		display: none;
	}
	.contact-info__contacts .fab, .contact-info__contacts .fas {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	
	.contact-info__adress, .contact-info__phone, .contact-info__mail, .contact-info__contacts {
		margin-top: 15px;
	}
	
}
@media (max-width: 1050px) {
	.nav li {
		font-size: 0.9em;
	}
	
	.header-nav li {
		font-size: 0.8em;
	}
	
	.banner-2 {
		padding: 0 50px;
	}
	
	.features__feature {
		width: 50%;
	}
	
	.worker {
		margin-top: 10px;
		width: 100%
	}
	
	.worker p {
		line-height: 20px;
	}
	
	.buy-field hr {
		margin: 15px 0;
	}
	
	.buy-field p {
		margin-top: 0px;
	}
	
	.buy-field__buttons {
		margin-top: 20px;
	}
	
	.information {
		padding: 20px 25px;
	}
	
	.services {
		width: 40%;
	}
	
	.form__name, .form__mail,.form__message  {
		width: 200px;
	}
	
	.form button {
		width: 100px;
		margin-left: 100px;
	}
}

@media (max-width: 900px) {
	.fa-bars {
		display: block;
	}

	#to-form {
		top: 10px;
	}
	
	.header-nav {
		position: absolute;
		left: 100px;
		top: 10px;
		display: none;
	}
	
	.header-nav-on {
		position: absolute;
		left: 100px;
		top: 10px;
		display: block;
		background-color: #353434;
		border-radius: 5px;
	}
	
	.collapse-nav {
		flex-direction: column;
	}
	
	.collapse-nav li {
		margin: 5px;
	}
	
	.collapse-nav .logo-collapse {
		display: none;
	}
	
	.nav-item ul {
		width: 130px;
		top: 0;
		left: 100px;
	}
	
	.slider-switch {
		margin-top: 20px;
	}

	.about-us {
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.workers {
		margin-top: 40px;
	}
	
	.posts {
		margin-left: 15px;
	}
	
	.services {
		margin-left: 30px;
	}
	
	.basement {
		padding: 0 50px;
	}
	
	.basement-left__establish, .basement__reference {
		font-size: 0.9em;
	}
}

@media (max-width: 850px) {
	.information {
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	
	.contact-info, .posts, .services, .form {
		margin-left: 5px;
	}
	
	.form__name, .form__mail,.form__message  {
		width: 250px;
	}
	
	.form {
		text-align: center;
	}
	
	.form button {
		width: 100px;
		margin-left: 0px;
		transform: translateX(calc(50% + 25px));	
	}
	
	.contact-info__adress {
		margin-top: 0px;
	}
	
	.services {
		width: auto;
	}
	
	.services h4 {
		text-align: center;
	}
	
	.basement-left__establish, .basement__reference {
		font-size: 0.8em;
	}
	
	.basement-left__establish {
		margin-left: 10px;
	}
	
	.basement__reference li {
		width: 25%;
		margin-left: 5px;
	}
}

@media (max-width: 800px) {
	#to-form {
		width: 70px;
		height: 70px;
		font-size: 0.8em;
	}

	.banner__arrows__banner__left, .banner__arrows__banner__right {
		font-size: 50px;
	}
	
	.slider {
		width: 470px;
		height: 280px;
	}
	
	.slider img {
		width: 470px;
		height: 280px;
	}
	
	.slider__switch {
		width: 470px;
		top: calc(50% - 23px);
		font-size: 50px;
	}
	
	.slider__switch-right {
		left: 76%;
		
	}
	
	.banner-2 h2 {
		line-height: 10px;
		margin-bottom: 10px;	
	}
	
	.buy-field__buttons button:first-child {
		margin-left: 15px;
	}
	
	.buy-field__buttons button:last-child {
		margin-right: 15px;
	}
	
	.responses h2 {
		text-align: center;
	}

	.slider-switch {
		margin-top: 50px;
	}

	.advantages {
		margin: 50px;
	}
	
	.inner-advantages__slider-monitor img {
		width: 450px;
		height: 350px;
	}
	
	.inner-advantages__right .fas {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	
	.advantage {
		margin-bottom: 20px;
	}
	
	.advantage__text p {
		font-size: 0.8em;
	}
	
	.contact-info {
		margin-left: 0;
	}
	.contact-info__collapsed {
		flex: 1;	
	}
	.posts {
		flex: 1;
	}
}

@media (max-width: 700px) {
	.banner {
		height: 80vh;
	}
	
	h1 {
		font-size: 2.8em;
	}
	
	.banner__slider {
		height: 30%;
		font-size: 1em;
	}
	
	.heading-items {
		font-size: 1.1em;
	}
	
	.banner-2 {
		height: 120vh;
		padding-bottom: 0;
	}
	
	.banner-2 h2 {
		font-size: 1.8em;
		margin-top: 10px;	
	}
	
	.features {
		margin-bottom: 10px;
	}
	
	.team {
		padding: 25px 25px;
	}
	
	.buy-field p {
		font-size: 0.9em;
	}
	
	.responses {
		height: 80vh;
		padding: 0 50px;
	}
	
	.comments-list h3 {
		margin-top: 30px;
	}
	
	.advantages h2 {
		text-align: center;
	}
	
	.inner-advantages {
		margin-top: 30px;
	}
	
	.contact-info, .posts, .services, .form {
		flex: 1 1 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	.posts h4 {
		margin-top: 15px;
		text-align: center;
	}
	
	.article {
		justify-content: center;
	}
	
	.basement-left__establish, .basement__reference {
		font-size: 0.7em;
	}
}

@media (max-width: 600px) {
	.slider {
		width: 400px;
		height: 280px;
	}
	
	.slider img {
		width: 400px;
		height: 280px;
	}
	
	.slider__switch {
		width: 400px;
		top: calc(50% - 23px);
		font-size: 50px;
	}
	
	.slider__switch-right {
		left: 73%;
		
	}
	
	.banner-2 {
		height: 150vh;
	}
	
	.banner-2 h2 {
		width: 100%;
		font-size: 1.5em;
	}
	.banner-2 hr {
		margin: 10px 0;
	}
	
	.banner-2__heading {
		margin-top: 10px;
	}
	
	.features__feature {
		width: 100%;
		margin-bottom: 50px;
		text-align: center;
	}
	
	.buy-field p {
		width: 100%;
		line-height: 20px;
	}
	
	.slider-switch {
		margin-top: 80px;
	}

	.buy-field__buttons button {
		margin-top: 10px;
		padding: 12px 25px;
		font-size: 0.8em;
	}
	
	.inner-advantages__slider-monitor img {
		width: 350px;
		height: 300px;
	}
	
	.advantage__text p {
		font-size: 0.7em;
	}
	
	.advantage .fas {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	
	.service {
		display: block;
	}
	
	.services, .form {
		margin-top: 10px;
	}
}
@media (max-width: 500px) {
	h2 {
		font-size: 1.5em;
	}
	
	.heading-items span {
		display: none;
	}
	
	.heading-items li {
		margin-left: 5px;
		font-size: 0.8em;
	}
	
	.slider {
		width: 340px;
		height: 240px;
	}
	
	.slider img {
		width: 340px;
		height: 240px;
	}
	
	.slider__switch {
		width: 340px;
		top: calc(50% - 23px);
		font-size: 50px;
	}
	
	.slider__switch-right {
		left: 70%;
		
	}
	
	.about-us button {
		padding: 15px 20px;
	}
	
	.about-us button:first-child {
		margin-left: 5px;
	}
	
	.about-us button:last-child {
		margin-right: 5px;
	}
	
	.banner-2 {
		padding: 0 20px;
	}	
	
	.banner-2 h2 {
		font-size: 1.3em;
	}
	
	.banner-2 h3 {
		color: #b95503;
	}
	
	.banner-2 .fas {
		display: none;
	}
	
	.team__heading {
		font-size: 0.9em;
	}
	
	.worker p {
		font-size: 0.8em;
	}
	
	.portfolio__heading {
		font-size: 1em;
	}
	
	.buy-field {
		padding: 50px 15px;
	}
	
	.buy-field__buttons button {
		padding: 12px 20px;
		font-size: 0.7em;
	}
	
	.responses {
		padding: 0 20px;
	}
	
	.responses p {
		font-size: 0.8em;
	}
	
	.inner-advantages__slider-monitor img {
		width: 300px;
		height: 250px;
	}
	
	.services .fas {
		margin-top: 5px;
	}
	
	.basement-left__logo-upper {
		font-size: 30px;
	}
	
	.basement-left__logo-lower {
		font-size: 10px;
		text-align: center;
	}
	
	.basement-left__establish {
		Font-size: 0.6em;
	}
}

@media (max-width: 400px) {
	.heading-items li {
		font-size: 0.7em;
	}
	
	.slider {
		width: 250px;
		height: 200px;
	}
	
	.slider img {
		width: 250px;
		height: 200px;
	}
	
	.slider__switch {
		width: 250px;
		top: calc(50% - 23px);
		font-size: 50px;
	}
	
	.slider__switch-right {
		left: 58.5%;
		
	}
	
	.about-us button {
		padding: 5px 5px;
	}
	
	.banner-2 h2 {
		line-height: 18px;
	}
	
	.picture {
		width: 300px;
		height: 237px;
	}
	
	.picture-mask {	
		width: 300px;
		height: 237px;
		line-height: 237px;
		
	}
	
	.slider-switch {
		margin-top: 100px;
	}

	.buy-field__buttons button {
		padding: 12px 15px;
		font-size: 0.7em;
	}
	
	.inner-advantages__slider-monitor img {
		width: 270px;
		height: 235px;
	}
	
	.basement__reference {
		font-size: 0.6em;
	}
	
	.basement-left__establish {
		Font-size: 0.5em;
	}
}

@media (max-width: 360px) {
	.header-nav-on {
		left: 50px;
	}

}


@media (max-width: 325px) {
	.header-nav-on {
		top: 5px;
	}
}